@media (max-width:500px) {
    .logo{
        height: 70px;
        width:170px ;
    }
}
@media (max-width:440px) {
    .logo{
        height: 60px;
        width:160px ;
    }
    .photo{
        height: 40px;
        width: 40px;

    }
    .photo-line{
        font-size: 15px;
    }
}
@media (max-width:350px) {
   .container{
    padding-left: 2px ;
    padding-right:  2px ;   } 
    .logo{
        height: 50px;
        width:150px ;
    }
    .photo{
        height: 30px;
        width: 30px;

    }
    .photo-line{
        font-size: 12px;
    }
}